<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ninjas!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
  </head>
  <body>
    <h1>Ninja Facts!</h1>
    <p>Ninjas wear black and are very sneaky.  They carry swords and stuff too.  They originate from Japan</p>
    <img src="{{ url_for('static', filename='img/ninja2.jpg') }}">
  </body>
</html>
